In [19]:
from typing import Tuple

In [5]:
# tuple syntax
my_types : Tuple[int,int,int] = (1,2,3)

In [6]:
print(my_types)

(1, 2, 3)

In [9]:
# single element tuple
single_element_tuples= (1,)

print(single_element_tuples)
print(type(single_element_tuples))

(1,)
<class 'tuple'>

In [8]:
# type without comma is not a tuple
not_a_tuple = (1)
print(type(not_a_tuple))

<class 'int'>

In [15]:
# operation with tuples
# index start from 0

fruit=("apple","banana","cherry")
print(fruit[0])

apple

In [19]:
# slicing tuples

print(fruit[0:2])

('apple', 'banana')

In [20]:
# tuple concatenation 

a = ("Apple","Banana")
b = ("Cherry","Dates")
c = a+b
print(c)

('Apple', 'Banana', 'Cherry', 'Dates')

In [26]:
# Repitition of tuples
repeated_tuples = ("Apple",) * 4

print(repeated_tuples)

('Apple', 'Apple', 'Apple', 'Apple')

In [28]:
# tuple unpacking

a,b,c = fruit

print(a)
print(b)
print(c)

apple
banana
cherry

In [29]:
# nested tuples

nested_tuple = (1,2,3,(4,5,6))

print(nested_tuple)

(1, 2, 3, (4, 5, 6))

In [31]:
# dictionary
location = {}
# tuple as key
point=(10,20)

location[point] = "Hello"

print(location)

{(10, 20): 'Hello'}

In [35]:
# count
new_tuple = (1,2,3,4,5,6,4,8,9,1,2,3,4,5,6,7,8,9)
# count of 4
count_of_one = new_tuple.count(4)

print(count_of_one)

3

In [36]:
# index of tuple

index_of_4 = new_tuple.index(4)

print(index_of_4)

3

In [38]:
# membership in tuple

print(10 in new_tuple)

False

In [39]:
# itarate over tuples

for ft in fruit:
  print(ft)

apple
banana
cherry

In [2]:
# swap tuple
t1 = (1,2)
t2 = (3,4)

t1, t2 = t2,t1

print(t2)

(1, 2)

In [7]:
# functions
def print_number():
  a:int = int(input('enter a number'))
  print(a)

In [8]:
print_number()

123

In [11]:
def sum(a:int,b:int)->int:
  result = a+b;
  return result

In [12]:
total = sum(10,20)

print(total)

30

In [16]:
# none if 0
def add_two_numbers(a:int,b:int)->int | None:
  if(a==0 or b==0):
    return None
  return a+b

In [17]:
two_numbers = add_two_numbers(0,5)
print(two_numbers)

None

In [20]:
def mul_and_add(a:int,b:int)->Tuple[int,int]:
  return a*b,a+b

In [21]:
mul,add = mul_and_add(10,20)
print(mul,add)

200 30

In [22]:
# loop
friends = ["Alice","Bob","Charlie"]

for friend in friends:
  print(f"Greeting {friend}")

Greeting Alice
Greeting Bob
Greeting Charlie

In [23]:
# itarate over string

for chat in "python":
  print(chat)

p
y
t
h
o
n

In [24]:
# range 

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
# spacify start and end range

for i in range(5,10):
  print(i)

5
6
7
8
9

In [27]:
# use steps in range 
for i in range(1,10,3):
  print(i)

1
4
7

In [28]:
# zip loop
names = ["Alice","Bob","Charlie"]
ages = [20,30,40]

for name,age in zip(names,ages):
  print(f"{name} is {age} years old")

Alice is 20 years old
Bob is 30 years old
Charlie is 40 years old

In [29]:
# nested loop

matrix = [
  [1,2,3],
  [4,5,6],
  [7,8,9]
]

for row in matrix:
  for column in row:
    print(column)

1
2
3
4
5
6
7
8
9

In [30]:
# break
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [32]:
count =0
while count < 10:
  if count == 5:
    break
  count +=1
  print(count)

1
2
3
4
5

In [33]:
# continue will skip the current iteration and continue with next iteration

for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [34]:
password =""
while password != "password123":
    password = input("Enter Password")

print("Logged in")

Logged in

In [38]:
# enumerate

for value in enumerate(friends):
  index, name = value
  print(index)

0
1
2

In [40]:
 
for i in range(0,len(friends)):
   print(friends[i])

Alice
Bob
Charlie