In [3]:
from typing import Tuple

In [5]:
# tuple syntax
my_types : Tuple[int,int,int] = (1,2,3)

In [6]:
print(my_types)

(1, 2, 3)

In [9]:
# single element tuple
single_element_tuples= (1,)

print(single_element_tuples)
print(type(single_element_tuples))

(1,)
<class 'tuple'>

In [8]:
# type without comma is not a tuple
not_a_tuple = (1)
print(type(not_a_tuple))

<class 'int'>

In [15]:
# operation with tuples
# index start from 0

fruit=("apple","banana","cherry")
print(fruit[0])

apple

In [19]:
# slicing tuples

print(fruit[0:2])

('apple', 'banana')

In [20]:
# tuple concatenation 

a = ("Apple","Banana")
b = ("Cherry","Dates")
c = a+b
print(c)

('Apple', 'Banana', 'Cherry', 'Dates')

In [26]:
# Repitition of tuples
repeated_tuples = ("Apple",) * 4

print(repeated_tuples)

('Apple', 'Apple', 'Apple', 'Apple')

In [28]:
# tuple unpacking

a,b,c = fruit

print(a)
print(b)
print(c)

apple
banana
cherry

In [29]:
# nested tuples

nested_tuple = (1,2,3,(4,5,6))

print(nested_tuple)

(1, 2, 3, (4, 5, 6))

In [31]:
# dictionary
location = {}
# tuple as key
point=(10,20)

location[point] = "Hello"

print(location)

{(10, 20): 'Hello'}

In [35]:
# count
new_tuple = (1,2,3,4,5,6,4,8,9,1,2,3,4,5,6,7,8,9)
# count of 4
count_of_one = new_tuple.count(4)

print(count_of_one)

3

In [36]:
# index of tuple

index_of_4 = new_tuple.index(4)

print(index_of_4)

3

In [38]:
# membership in tuple

print(10 in new_tuple)

False

In [39]:
# itarate over tuples

for ft in fruit:
  print(ft)

apple
banana
cherry